# ---------------------------------------------------------
# Ignore common Py and partial files:
# ---------------------------------------------------------
*~
*.pyc
.~*
.ipynb_checkpoints

# ---------------------------------------------------------
# Ignore /src/
# ---------------------------------------------------------
src/data_3d/AOSMAPPED_23rdJune2016_dome_obj_data.py
src/data_3d/AOSMAPPED_GOOD___dome_obj_data.py
src/data_3d/UNMAPPED_17thJune2016_dome_obj_data.py
src/data_3d/junk/*
src/config.py
src_data_analysis/
XDG_CACHE_HOME/

# ---------------------------------------------------------
# Ignore /results/
# ---------------------------------------------------------
results/*
!results/lambert_shading_scores/
!results/blinn-phong+lambert_shading_scores/
!results/Sample_Lettvin_Results_Mar2017/
results/Control_91-92_March2017/*
!results/Control_91-92_March2017/*.csv
results/Control_91-92_March2017/*.txt.csv
results/Control_91-92_March2017/lam*.csv
!results/Control_91-92_March2017/
results/installed_aos+rod_July2016/*
!results/installed_aos+rod_July2016/*.csv
results/installed_aos+rod_July2016/lam*.csv
!results/installed_aos+rod_July2016/

# ---------------------------------------------------------
# Ignore /properties
# ---------------------------------------------------------
!properties/default.properties
properties/default.properties.*


# ---------------------------------------------------------
# Ignore /test/     (unit test and plot/tex outputs):
# ---------------------------------------------------------
test/test_outputs/*.png
test/test_outputs/*.pdf
test/test_outputs/*.tex
test/test_outputs/*.txt
test/test_outputs/*.csv
test/test_outputs/*.py
test/runner_test_evaluation.py


# ---------------------------------------------------------
# Ignore /exp/      (experiment outputs, unless explicitly specified):
# ---------------------------------------------------------
exp/Lettvin_Repulsion/*
!exp/Lettvin_Repulsion/*.sh
exp/Lettvin_Repulsion/cpp/*
!exp/Lettvin_Repulsion/cpp/
!exp/Lettvin_Repulsion/cpp/diffuse.cpp
!exp/Lettvin_Repulsion/cpp/Makefile
exp/Lettvin_Repulsion/helpers/*
!exp/Lettvin_Repulsion/helpers/
!exp/Lettvin_Repulsion/helpers/*.py
!exp/Lettvin_Repulsion/test_output/*
!exp/Lettvin_Repulsion/test_output/
!exp/Lettvin_Repulsion/test_output/empty
exp/Lettvin_Repulsion/test_output/Results*

exp/Evenness_Scaling/*
!exp/Evenness_Scaling/
!exp/Evenness_Scaling/*.ipynb
!exp/Evenness_Scaling/*.sh
!exp/Evenness_Scaling/helpers/
exp/Evenness_Scaling/helpers/*
!exp/Evenness_Scaling/helpers/
!exp/Evenness_Scaling/helpers/*.py
exp/Evenness_Scaling/test_output/*
!exp/Evenness_Scaling/test_output/
!exp/Evenness_Scaling/test_output/empty
exp/Evenness_Scaling/test_output/Results*

!exp/exp_plotting
!exp/

# ---------------------------------------------------------
# Ignore corruptions: (caused by unit test usage of properties and options parsers)
# ---------------------------------------------------------
None/*
None*.csv


# ---------------------------------------------------------
# Ignore /demo/     (videos and presentation content)
# ---------------------------------------------------------
demo/*
