*~
*.pyc
.~*
demo/*
results/*
!results/lambert_shading_scores/
!results/blinn-phong+lambert_shading_scores/
!results/Sample_Lettvin_Results_Mar2017/
properties/default.properties
properties/default.properties.*
src/data_3d/AOSMAPPED_23rdJune2016_dome_obj_data.py
src/data_3d/AOSMAPPED_GOOD___dome_obj_data.py
src/data_3d/UNMAPPED_17thJune2016_dome_obj_data.py
src/data_3d/junk/*
test/test_outputs/*.png
test/test_outputs/*.pdf
test/test_outputs/*.tex
test/test_outputs/*.txt
test/test_outputs/*.csv
test/runner_test_evaluation.py
test/test_outputs/check_result_correlations.py